html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #22272e;
  color: #bac5d1;
  font-family: "DM Sans", "sans-serif";
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  padding-inline-start: 1ch;
  list-style-position: outside;
}

/* Start: Tailwind-like CSS */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
/* End: Tailwind-like CSS */

main .container {
  padding: 4em 1em;
}

.container {
  padding: 2em 1em;
}

/* Mobile Avatar Size */
.avatar {
  width: 128px;
  height: auto;
}

.avatar img {
  border-radius: 100%;
  box-shadow: 0px 0px 20px 4px rgba(195, 235, 253, 0.2);
}

.pill-divider {
  width: 20%;
  height: 4px;
  border-radius: 9999px;
  background-color: #2d333b;
}

/* Screen Width >= 768px Avatar Size */
@media screen and (min-width: 768px) {
  .avatar {
    width: 256px;
  }

  #name h1 {
    font-size: 36px;
  }
}
